<div>
    <table>
        <tr>
            <td>리그이름: </td>
            <td><%= @league.league_name %></td>
        </tr>
        <tr>
            <td>리그종류: </td>
            <td><%= @league.league_type %></td>
        </tr>
        <tr>
            <td>리그 소속팀: </td>
        </tr>
    </table>
    <table>
        <tr>
        <% @league.teams.each do |team| %>
            <% if team.logoimg.attached? %>
                <td><img src="<%= url_for(team.logoimg) %>" width="30" height="<2></2>0"></td>
            <% else %>
                <td>logo</td>
            <% end %>

            <td><%= team.team_name %></td>
            
        <% end %>
        </tr>
    </table>
    
    <br>
    <p>순위표</p>
    <table>
        <tr>
            <th>순위</th>
            <th>팀명</th>
            <th>승</th>
            <th>무</th>
            <th>패</th>
            <th>승률</th>
            <th>득점</th>
            <th>실점</th>
        </tr>
        
        <% @matchs.each do |match| %>
            <tr>
                <td></td>
                <td><%= match.home_team %></td>
                <td><%= match.count_win %></td>
                <td><%= match.count_draw %></td>
                <td><%= match.count_lose %></td>
                <td><%= number_with_precision(match.win_rate, precision: 3) %></td>
                <td><%= match.sum_point %></td>
                <td><%= match.sum_lose_point %></td>
    
            </tr>
        <% end %>
    </table>
    
    <a href="/matchs/result_new/<%= @league.id %>">리그경기결과입력</a>
</div>