<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">경기일자</th>
                <th scope="col"></th>
                <th scope="col">홈팀</th>
                <th scope="col"></th>
                <th scope="col">vs</th>
                <th scope="col"></th>
                <th scope="col">원정팀</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% @league.matchs.each do |match| %>
                <tr>
                    <td><%= match.match_date %></td>
                    <td><%= match.home_match_result %></td>
                    <td><%= match.home_team %></td>
                    <td><%= match.home_score %></td>
                    <td>:</td>
                    <td><%= match.away_score %></td>
                    <td><%= match.away_team %></td>
                    <td><%= match.away_match_result %></td>
                </tr>
            <% end %>
        </tbody>
        <tr>
            <td><a href="/matchs/result_new/<%= @league.id %>">리그경기결과입력</a></td>
        </tr>
    </table>
</div>