<table>
    <tr>
        <th>순위</th>
        <th>팀명</th>
        <th>승</th>
        <th>무</th>
        <th>패</th>
        <th>승률</th>
        <th>득점</th>
        <th>실점</th>
    </tr>
    
    <% @tests.each do |test| %>
        <tr>
            <td></td>
            <td><%= test.home_team %></td>
            <td><%= test.count_win %></td>
            <td><%= test.count_draw %></td>
            <td><%= test.count_lose %></td>
            <td><%= test.win_rate %></td>
            <td><%= test.sum_point %></td>
            <td><%= test.sum_lose_point %></td>

        </tr>
    <% end %>

</table>